<div class="login-wrapper mt-3">
  <h2>Zaloguj się:</h2>
  <form #f='ngForm' (ngSubmit)="onLogin()">
    <div>
      <mat-form-field appearance="fill">
        <mat-label>Nazwa użytkownika</mat-label>
        <input [(ngModel)]="userData.username" matInput name="username" required minlength="4">
      </mat-form-field>
    </div>
    <ng-container
    *ngIf="f.controls?.['username']?.invalid && f.controls?.['username']?.touched && f.controls?.['username']?.dirty">
      <app-alert *ngIf="f.controls?.['username']?.errors" [text]="'Ta kontrolka musi mieć minimum 4 znaki'"></app-alert>
    </ng-container>

    <div>
      <mat-form-field appearance="fill">
        <mat-label>Hasło</mat-label>
        <input [(ngModel)]="userData.password" matInput [type]="hide ? 'password' : 'text'" required name="password">
        <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
          <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
        </button>
      </mat-form-field>
    </div>
    <ng-container
      *ngIf="f.controls?.['password']?.invalid && f.controls?.['password']?.touched && f.controls?.['username']?.dirty">
      <app-alert *ngIf="f.controls?.['password']?.errors" [text]="'Ta kontrolka nie może być pusta'"></app-alert>
    </ng-container>

    <div class="d-flex justify-content-end">
      <button color="primary" mat-raised-button type="submit" [disabled]="!f.valid">Zaloguj się</button>
    </div>
  </form>
</div>
